* {
  margin: 0;
  padding: 0;
}
body {
  background: #cdcdcd;
  /* display: flex; */
}
header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  border: 1px solid rgb(160, 145, 145);
  padding: 0.5rem;
  background-color: #f0eded;
  border-radius: 2rem;
  box-shadow: 5px 2px rgb(109, 107, 107);
}

.something {
  display: flex;
}
.something-a {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.nav-a {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.search {
  display: none;
}
.navbar-a {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0 0.8rem;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
  flex: 1;
  box-sizing: border-box;
  margin: 4px;
  background: #f0eded;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
input:hover {
  font-weight: bold;
}
/* -------------------first section------------------ */
.firstsection {
  border: 1px solid #828181;
  border-radius: 2rem;
  background-color: #dadada;
  display: inline-block;
  margin: 1rem;
  width: 40vw;
  height: 60vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}
.clock {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin: 1rem;
}
.clock-a {
  height: 10rem;
  width: 10rem;
  border: 5px solid #d8d5d5;
  border-radius: 50%;
  position: relative;
  box-shadow: -10px -2px 25px #a3a1a1;
}
.some {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%);
}
.hours {
  width: 2px;
  height: 3.8em;
  border: 1px solid #25343f;
  background-color: #25343f;
  color: #25343f;
  transform: translateY(0px) rotate(210deg);
}
.minute {
  width: 2px;
  height: 4.5em;

  background-color: #25343f;
  color: #25343f;

  transform: translateY(0px) rotate(0deg);
}
.second {
  width: 1px;
  height: 4em;
  background-color: #25343f;
  color: #25343f;
  transform: translateY(0px) rotate(72deg);
}
.dot {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  transform: rotate(270deg);
}
.clock-b {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
}

.clock-b-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.stoneelem {
  background-color: #828181;
  display: inline-block;
  border: 1px solid #828181;
  border-radius: 2rem;
  width: 38vw;
  height: 20vh;
  margin: 1rem;
  width: auto;
}
.stone {
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem;
  justify-content: space-between;
  color: white;
  /* border-bottom: 2px solid red; */
}
.stones {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.number {
  display: flex;
}
.number p {
  display: flex;
  padding: 0rem 1rem;
}
.line {
  height: 2px;
  width: auto;
  background-color: rgb(104, 104, 104);
  margin: 0rem 1rem;
}

/* ---------------MULTIPLES STONE------------------ */
.section-2 {
  border: 1px solid #828181;
  border-radius: 2rem;
  background-color: #dadada;
  margin: 1rem;
  width: max-content;
  width: auto;
  height: auto;
}
.image img {
  width: 10rem;
  margin: 2rem;
}
.image {
  display: flex;
}
.img-a {
  width: 8rem;
  line-height: 1.5;
  word-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
}

/* ------------------balanced approach-------------------- */
.section-3 {
  border: 1px solid #828181;
  border-radius: 2rem;
  background-color: #dadada;
  padding: 2rem;
  height: 100vh;
  background-image: url(Background-stones.png);
  font-size: 18px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 1rem;
}

.overline {
  text-decoration: overline;
}
.bg-stone {
  width: 12rem;
  margin: 2rem;
  line-height: 2;
}

.bg-stone-a {
  position: absolute;

  bottom: 5%;
  left: 95%;
}
.bg-stone-a i {
  transform-origin: bottom;

  z-index: 999;
}

.bg-stone-a i {
  transform: rotate(-90deg);
}

/* @media(min-width < 768px){
  body{
    background-color: black;
  }
} */

/* ---------icon--------- */
.icon {
  color: #000000;
  font-size: 18px;
  padding: 1rem;
  border: 1px solid rgb(160, 145, 145);
  border-radius: 50%;
  background: #f0eded;
  box-shadow: 1px 2px black;
  box-shadow: 5px 10px 15px rgb(131, 130, 130);
}
@media (max-width: 768px) {
  * {
    width: auto;
  }
  body {
    background-color: rgb(253, 255, 253);

    height: auto;
    margin: 0;
    padding: 0;
  }
  header {
    width: auto;
    /* margin: 0; */
    margin: 1rem.5rem;
    font-size: 14px;
  }
  header i {
    font-size: 18px;
    padding: 1rem;
    border: 1px solid rgb(160, 145, 145);
    border-radius: 50%;
    background: #f0eded;
    box-shadow: 1px 2px black;
  }
  .nav-a {
    display: none;
  }
  .navbar-a {
    display: none;
  }
  .search {
    display: block;
  }

  .firstsection {
    width: auto;
    /* width: auto; */
    height: auto;
    margin: 5px;
  }
  .something {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  .something-a {
    justify-content: start;
    gap: 1rem;
    height: auto;
  }
  .stoneelem {
    width: auto;
    font-size: 14px;
    height: auto;
    margin-top: 0;
  }
  .section-2 {
    width: auto;
    margin: 5px;
  }
  .section-3 {
    width: auto;
    height: auto;
    margin: 5px;
  }
}
